<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CDSE Token Proxy" stopProcessing="true">
          <match url="^__cdse_token$" />
          <action type="Rewrite" url="https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token" />
        </rule>

        <rule name="CDSE SH Proxy" stopProcessing="true">
          <match url="^__cdse_sh/(.*)$" />
          <action type="Rewrite" url="https://sh.dataspace.copernicus.eu/{R:1}" />
        </rule>

        <rule name="SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="^/__cdse_token$" negate="true" />
            <add input="{URL}" pattern="^/__cdse_sh(/.*)?$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
